In [1]:
import pandas as pd
import numpy as np

#  Importando os dados

# Eduqo - Turma A

## Turma A

In [2]:
# respostas dos alunos
data = pd.read_excel("Gabarito/respostas_alunos.xlsx")
data

,Nome,Questão,Resposta,gabarito,Correção,Tempo
0,Ágata Pereira de Andrade,1,a,NaN,certo,208.0
1,Ágata Pereira de Andrade,2,c,NaN,certo,85.0
2,Ágata Pereira de Andrade,3,c,NaN,certo,117.0
3,Ágata Pereira de Andrade,4,a,NaN,certo,681.0
4,Ágata Pereira de Andrade,5,c,NaN,errado,577.0
...,...,...,...,...,...,...
4801,Yzabelle da Luz Portela,50,b,NaN,certo,148.0
4802,Yzabelle da Luz Portela,51,5,NaN,errado,56.0
4803,Yzabelle da Luz Portela,52,5,NaN,errado,12.0
4804,Yzabelle da Luz Portela,53,5,NaN,errado,12.0
4805,Yzabelle da Luz Portela,54,<p>acho interessante que a cada conteúdo temos...,NaN,errado,142.0

In [3]:
# importando o gabarito oficial para turma a
gabarito = pd.read_excel("Gabarito/gabarito_oficial.xlsx")
gabarito

,Matéria,Questão,Gabarito,Dificuldade,Assunto
0,Matemática,1,A,fácil,Operações básicas
1,Matemática,2,C,fácil,Operações básicas
2,Matemática,3,C,média,Sistemas 2x2
3,Matemática,4,A,fácil,Pitágoras e proporção
4,Matemática,5,D,média,Regra de Três Composta
5,Matemática,6,B,díficil,Triângulos e Regra de Três Simples
6,Matemática,7,B,média,frações/dízimas
7,Matemática,8,E,fácil,expressões numéricas
8,Matemática,9,D,média,equações
9,Matemática,10,A,média,Mínimo múltiplo comum
10,Matemática,11,A,fácil,Potência
11,Matemática,12,D,difícil,Potência e radiciação
12,Matemática,13,B,difícil,Radiciação
13,Português,14,A,fácil,"tipos de texto (verbal, não verbal, misto)"
14,Português,15,B,média,funções do texto
15,Português,16,D,média,gêneros textuais
16,Português,17,E,média,Semântica (homônimos e parônimos) e ortografia
17,Português,18,E,fácil,Interpretação de texto
18,Português,19,B,média,"interpretação de texto, preconceito linguístic..."
19,Português,20,B,Fácil,classes de palavras
20,Português,21,A,Díficil,classes de palavras
21,Português,22,E,Difícil,classes de palavras
22,Português,23,A,Díficil,Tonicidade
23,Química,24,C,Média,Separação de misturas homogêneas
24,Química,25,D,Média,"Número de avogadro, mol, massa molar e atômica"
25,Química,26,E,Fácil,Cálculo de massa molar
26,Química,27,A,Fácil,Propriedades da Matéria
27,Química,28,B,Fácil,"Conceito de Substância, Alotropia e Transforma..."
28,História,29,B,Média,Fontes históricas e relativismo cultural
29,História,30,A,Média,Patrimônio cultural
30,História,31,C,Média,Tempo Histórico
31,História,32,C,Fácil,Patrimônio cultural
32,História,33,E,Média,Fontes históricas
33,Geografia,34,c,Média,Conceitos de demografia
34,Geografia,35,e,Fácil,Conceitos de geografia política
35,Geografia,36,b,Média,Localização e orientação
36,Geografia,37,b,Média,Cartografia
37,Física,38,C,difícil,Vetores
38,Física,39,C,média,Conversão de unidades
39,Física,40,B,média,Conversão de unidades/Prefixos
40,Física,41,E,fácil,Conversão de unidades
41,Física,42,B,média,Conversão de unidades/notação científica
42,Física,43,D,fácil,Prefixos/notação científica
43,Biologia,44,C,Fácil,Água
44,Biologia,45,A,Fácil,Seres Vivos e Níveis de Organização
45,Biologia,46,D,Difícil,"Citologia, Tipos Celulares e Teoria da Endossi..."
46,Biologia,47,A,Média,Classificação dos seres vivos
47,Biologia,48,B,Média,Origem da vida
48,Filosofia/Sociologia,49,A,Fácil,Relação indivíduo e sociedade
49,Filosofia/Sociologia,50,B,Média,Surgimento da filosofia

In [4]:
# tempo demorado para resolução de cada questão
tempo = data[["Nome","Questão","Tempo"]]
tempo

                          Nome  Questão  Tempo
0     Ágata Pereira de Andrade        1  208.0
1     Ágata Pereira de Andrade        2   85.0
2     Ágata Pereira de Andrade        3  117.0
3     Ágata Pereira de Andrade        4  681.0
4     Ágata Pereira de Andrade        5  577.0
...                        ...      ...    ...
4801   Yzabelle da Luz Portela       50  148.0
4802   Yzabelle da Luz Portela       51   56.0
4803   Yzabelle da Luz Portela       52   12.0
4804   Yzabelle da Luz Portela       53   12.0
4805   Yzabelle da Luz Portela       54  142.0

[4806 rows x 3 columns]

In [5]:
gabarito

,Matéria,Questão,Gabarito,Dificuldade,Assunto
0,Matemática,1,A,fácil,Operações básicas
1,Matemática,2,C,fácil,Operações básicas
2,Matemática,3,C,média,Sistemas 2x2
3,Matemática,4,A,fácil,Pitágoras e proporção
4,Matemática,5,D,média,Regra de Três Composta
5,Matemática,6,B,díficil,Triângulos e Regra de Três Simples
6,Matemática,7,B,média,frações/dízimas
7,Matemática,8,E,fácil,expressões numéricas
8,Matemática,9,D,média,equações
9,Matemática,10,A,média,Mínimo múltiplo comum
10,Matemática,11,A,fácil,Potência
11,Matemática,12,D,difícil,Potência e radiciação
12,Matemática,13,B,difícil,Radiciação
13,Português,14,A,fácil,"tipos de texto (verbal, não verbal, misto)"
14,Português,15,B,média,funções do texto
15,Português,16,D,média,gêneros textuais
16,Português,17,E,média,Semântica (homônimos e parônimos) e ortografia
17,Português,18,E,fácil,Interpretação de texto
18,Português,19,B,média,"interpretação de texto, preconceito linguístic..."
19,Português,20,B,Fácil,classes de palavras
20,Português,21,A,Díficil,classes de palavras
21,Português,22,E,Difícil,classes de palavras
22,Português,23,A,Díficil,Tonicidade
23,Química,24,C,Média,Separação de misturas homogêneas
24,Química,25,D,Média,"Número de avogadro, mol, massa molar e atômica"
25,Química,26,E,Fácil,Cálculo de massa molar
26,Química,27,A,Fácil,Propriedades da Matéria
27,Química,28,B,Fácil,"Conceito de Substância, Alotropia e Transforma..."
28,História,29,B,Média,Fontes históricas e relativismo cultural
29,História,30,A,Média,Patrimônio cultural
30,História,31,C,Média,Tempo Histórico
31,História,32,C,Fácil,Patrimônio cultural
32,História,33,E,Média,Fontes históricas
33,Geografia,34,c,Média,Conceitos de demografia
34,Geografia,35,e,Fácil,Conceitos de geografia política
35,Geografia,36,b,Média,Localização e orientação
36,Geografia,37,b,Média,Cartografia
37,Física,38,C,difícil,Vetores
38,Física,39,C,média,Conversão de unidades
39,Física,40,B,média,Conversão de unidades/Prefixos
40,Física,41,E,fácil,Conversão de unidades
41,Física,42,B,média,Conversão de unidades/notação científica
42,Física,43,D,fácil,Prefixos/notação científica
43,Biologia,44,C,Fácil,Água
44,Biologia,45,A,Fácil,Seres Vivos e Níveis de Organização
45,Biologia,46,D,Difícil,"Citologia, Tipos Celulares e Teoria da Endossi..."
46,Biologia,47,A,Média,Classificação dos seres vivos
47,Biologia,48,B,Média,Origem da vida
48,Filosofia/Sociologia,49,A,Fácil,Relação indivíduo e sociedade
49,Filosofia/Sociologia,50,B,Média,Surgimento da filosofia

In [6]:
# questões 38, 1 e 6 foram anuladas
gabarito = gabarito.drop(index=gabarito[(gabarito['Questão'] == 38) & (gabarito['Questão'] == 1) & (gabarito['Questão'] == 6)].index)

### Questões 51->54

In [7]:
# salvando os comentarios /// questoes 51->54
comentarios = data.loc[(data['Questão'] == 51) | (data['Questão'] == 52) | (data['Questão'] == 53) | (data['Questão'] == 54)][["Questão", "Resposta"]]
comentarios = comentarios.dropna()
comentarios

      Questão                                           Resposta
50         51                                                  4
51         52                                                  5
52         53                                                  5
104        51                                                  5
105        52                                                  5
...       ...                                                ...
4697       54  <p><span style="font-size: 12pt;">﻿Eu não sei ...
4802       51                                                  5
4803       52                                                  5
4804       53                                                  5
4805       54  <p>acho interessante que a cada conteúdo temos...

[308 rows x 2 columns]

In [8]:
filtro = comentarios.loc[(comentarios['Questão'] == 51) | (comentarios['Questão'] == 52) | (comentarios['Questão'] == 53)][["Questão", "Resposta"]]

# filtro.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna()
filtro = filtro[pd.to_numeric(filtro['Resposta'], errors='coerce').notnull()]
filtro = filtro.dropna()
#stats = filtro.groupby("Questão").mean()
filtro["Questão"] = str(filtro["Questão"])
stast = filtro.groupby("Questão")
# stast.hea

In [9]:
# limpando as questões 51-54
data = data.drop(index=data[(data['Questão'] == 51) | (data['Questão'] == 52) | (data['Questão'] == 53) | (data['Questão'] == 54)].index)
data = data.drop(data.columns[5], axis = 1)

# questão 38 foi anulada tambem
data = data.drop(index=data[(data['Questão'] == 38) & (data['Questão'] == 1) & (data['Questão'] == 6)].index)

data

                          Nome  Questão Resposta  gabarito Correção
0     Ágata Pereira de Andrade        1        a       NaN    certo
1     Ágata Pereira de Andrade        2        c       NaN    certo
2     Ágata Pereira de Andrade        3        c       NaN    certo
3     Ágata Pereira de Andrade        4        a       NaN    certo
4     Ágata Pereira de Andrade        5        c       NaN   errado
...                        ...      ...      ...       ...      ...
4797   Yzabelle da Luz Portela       46        a       NaN   errado
4798   Yzabelle da Luz Portela       47        c       NaN   errado
4799   Yzabelle da Luz Portela       48        a       NaN   errado
4800   Yzabelle da Luz Portela       49        a       NaN    certo
4801   Yzabelle da Luz Portela       50        b       NaN    certo

[4450 rows x 5 columns]

In [10]:
data["Correção"] = data["Correção"] == 'certo'

data

                          Nome  Questão Resposta  gabarito  Correção
0     Ágata Pereira de Andrade        1        a       NaN      True
1     Ágata Pereira de Andrade        2        c       NaN      True
2     Ágata Pereira de Andrade        3        c       NaN      True
3     Ágata Pereira de Andrade        4        a       NaN      True
4     Ágata Pereira de Andrade        5        c       NaN     False
...                        ...      ...      ...       ...       ...
4797   Yzabelle da Luz Portela       46        a       NaN     False
4798   Yzabelle da Luz Portela       47        c       NaN     False
4799   Yzabelle da Luz Portela       48        a       NaN     False
4800   Yzabelle da Luz Portela       49        a       NaN      True
4801   Yzabelle da Luz Portela       50        b       NaN      True

[4450 rows x 5 columns]

In [11]:
# juntando os dados dos alunos com os dados do gabarito

data = pd.merge(data, gabarito, on='Questão')
data

,Nome,Questão,Resposta,gabarito,Correção,Matéria,Gabarito,Dificuldade,Assunto
0,Ágata Pereira de Andrade,1,a,NaN,True,Matemática,A,fácil,Operações básicas
1,Ágata Cristina Cidade,1,a,NaN,True,Matemática,A,fácil,Operações básicas
2,Alice Vailon Padilha,1,e,NaN,False,Matemática,A,fácil,Operações básicas
3,Alice Leder St.John,1,a,NaN,True,Matemática,A,fácil,Operações básicas
4,Amanda Pereira Algaranhar,1,e,NaN,False,Matemática,A,fácil,Operações básicas
...,...,...,...,...,...,...,...,...,...
4445,Vitória Morais da Silva,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia
4446,Yanne Alves Marques,50,c,NaN,False,Filosofia/Sociologia,B,Média,Surgimento da filosofia
4447,Yasmim Vasques Santana,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia
4448,Yasmin Duarte Vieira,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia
4449,Yzabelle da Luz Portela,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia

## Turma B

In [12]:
data_turmab = pd.read_excel("Gabarito/respostas_alunos_b.xlsx")
data_turmab

,Nome,Questão,Resposta,gabarito,Correção,Tempo
0,Angel Emanuely Corrêa silva,1,a,NaN,certo,83.0
1,Angel Emanuely Corrêa silva,2,c,NaN,certo,116.0
2,Angel Emanuely Corrêa silva,3,c,NaN,certo,20.0
3,Angel Emanuely Corrêa silva,4,c,NaN,errado,44.0
4,Angel Emanuely Corrêa silva,5,b,NaN,errado,58.0
...,...,...,...,...,...,...
805,Vitória Michels,50,b,NaN,certo,39.0
806,Vitória Michels,51,5,NaN,errado,30.0
807,Vitória Michels,52,4,NaN,errado,11.0
808,Vitória Michels,53,5,NaN,errado,9.0
809,Vitória Michels,54,"<p><span style=""font-size: 12pt;"">tenho gostad...",NaN,errado,148.0

In [13]:
gabarito_b = pd.read_excel("Gabarito/gabarito_oficial_b.xlsx")
gabarito_b

,Matéria,Questão,Gabarito,Dificuldade,Assunto
0,Matemática,1,A,fácil,Operações básicas
1,Matemática,2,C,fácil,Operações básicas
2,Matemática,3,C,média,Sistemas 2x2
3,Matemática,4,A,fácil,Pitágoras e proporção
4,Matemática,5,D,média,Regra de Três Composta
5,Matemática,6,B,díficil,Triângulos e Regra de Três Simples
6,Matemática,7,B,média,frações/dízimas
7,Matemática,8,E,fácil,expressões numéricas
8,Matemática,9,D,média,equações
9,Matemática,10,A,média,Mínimo múltiplo comum
10,Matemática,11,A,fácil,Potência
11,Matemática,12,D,difícil,Potência e radiciação
12,Matemática,13,B,difícil,Radiciação
13,Português,14,A,fácil,"tipos de texto (verbal, não verbal, misto)"
14,Português,15,B,média,funções do texto
15,Português,16,D,média,gêneros textuais
16,Português,17,E,média,Semântica (homônimos e parônimos) e ortografia
17,Português,18,E,fácil,Interpretação de texto
18,Português,19,B,média,"interpretação de texto, preconceito linguístic..."
19,Português,20,B,Fácil,classes de palavras
20,Português,21,A,Díficil,classes de palavras
21,Português,22,E,Difícil,classes de palavras
22,Português,23,A,Díficil,Tonicidade
23,Física,24,C,difícil,Vetores
24,Física,25,C,média,Conversão de unidades
25,Física,26,B,média,Conversão de unidades/Prefixos
26,Física,27,E,fácil,Conversão de unidades
27,Física,28,B,média,Conversão de unidades/notação científica
28,Física,29,D,fácil,Prefixos/notação científica
29,Química,30,C,Média,Separação de misturas homogêneas
30,Química,31,D,Média,"Número de avogadro, mol, massa molar e atômica"
31,Química,32,E,Fácil,Cálculo de massa molar
32,Química,33,A,Fácil,Propriedades da Matéria
33,Química,34,B,Fácil,"Conceito de Substância, Alotropia e Transforma..."
34,Biologia,35,C,Fácil,Água
35,Biologia,36,A,Fácil,Seres Vivos e Níveis de Organização
36,Biologia,37,D,Difícil,"Citologia, Tipos Celulares e Teoria da Endossi..."
37,Biologia,38,A,Média,Classificação dos seres vivos
38,Biologia,39,B,Média,Origem da vida
39,História,40,B,Média,Fontes históricas e relativismo cultural
40,História,41,A,Média,Patrimônio cultural
41,História,42,C,Média,Tempo Histórico
42,História,43,C,Fácil,Patrimônio cultural
43,História,44,E,Média,Fontes históricas
44,Geografia,45,c,Média,Conceitos de demografia
45,Geografia,46,e,Fácil,Conceitos de geografia política
46,Geografia,47,b,Média,Localização e orientação
47,Geografia,48,b,Média,Cartografia
48,Filosofia/Sociologia,49,A,Fácil,Relação indivíduo e sociedade
49,Filosofia/Sociologia,50,B,Média,Surgimento da filosofia

In [14]:
gabarito_b

,Matéria,Questão,Gabarito,Dificuldade,Assunto
0,Matemática,1,A,fácil,Operações básicas
1,Matemática,2,C,fácil,Operações básicas
2,Matemática,3,C,média,Sistemas 2x2
3,Matemática,4,A,fácil,Pitágoras e proporção
4,Matemática,5,D,média,Regra de Três Composta
5,Matemática,6,B,díficil,Triângulos e Regra de Três Simples
6,Matemática,7,B,média,frações/dízimas
7,Matemática,8,E,fácil,expressões numéricas
8,Matemática,9,D,média,equações
9,Matemática,10,A,média,Mínimo múltiplo comum
10,Matemática,11,A,fácil,Potência
11,Matemática,12,D,difícil,Potência e radiciação
12,Matemática,13,B,difícil,Radiciação
13,Português,14,A,fácil,"tipos de texto (verbal, não verbal, misto)"
14,Português,15,B,média,funções do texto
15,Português,16,D,média,gêneros textuais
16,Português,17,E,média,Semântica (homônimos e parônimos) e ortografia
17,Português,18,E,fácil,Interpretação de texto
18,Português,19,B,média,"interpretação de texto, preconceito linguístic..."
19,Português,20,B,Fácil,classes de palavras
20,Português,21,A,Díficil,classes de palavras
21,Português,22,E,Difícil,classes de palavras
22,Português,23,A,Díficil,Tonicidade
23,Física,24,C,difícil,Vetores
24,Física,25,C,média,Conversão de unidades
25,Física,26,B,média,Conversão de unidades/Prefixos
26,Física,27,E,fácil,Conversão de unidades
27,Física,28,B,média,Conversão de unidades/notação científica
28,Física,29,D,fácil,Prefixos/notação científica
29,Química,30,C,Média,Separação de misturas homogêneas
30,Química,31,D,Média,"Número de avogadro, mol, massa molar e atômica"
31,Química,32,E,Fácil,Cálculo de massa molar
32,Química,33,A,Fácil,Propriedades da Matéria
33,Química,34,B,Fácil,"Conceito de Substância, Alotropia e Transforma..."
34,Biologia,35,C,Fácil,Água
35,Biologia,36,A,Fácil,Seres Vivos e Níveis de Organização
36,Biologia,37,D,Difícil,"Citologia, Tipos Celulares e Teoria da Endossi..."
37,Biologia,38,A,Média,Classificação dos seres vivos
38,Biologia,39,B,Média,Origem da vida
39,História,40,B,Média,Fontes históricas e relativismo cultural
40,História,41,A,Média,Patrimônio cultural
41,História,42,C,Média,Tempo Histórico
42,História,43,C,Fácil,Patrimônio cultural
43,História,44,E,Média,Fontes históricas
44,Geografia,45,c,Média,Conceitos de demografia
45,Geografia,46,e,Fácil,Conceitos de geografia política
46,Geografia,47,b,Média,Localização e orientação
47,Geografia,48,b,Média,Cartografia
48,Filosofia/Sociologia,49,A,Fácil,Relação indivíduo e sociedade
49,Filosofia/Sociologia,50,B,Média,Surgimento da filosofia

In [15]:
# tempo demorado para cad questão
tempo = tempo.append(data_turmab[["Nome","Questão","Tempo"]])
tempo

                         Nome  Questão  Tempo
0    Ágata Pereira de Andrade        1  208.0
1    Ágata Pereira de Andrade        2   85.0
2    Ágata Pereira de Andrade        3  117.0
3    Ágata Pereira de Andrade        4  681.0
4    Ágata Pereira de Andrade        5  577.0
..                        ...      ...    ...
805           Vitória Michels       50   39.0
806           Vitória Michels       51   30.0
807           Vitória Michels       52   11.0
808           Vitória Michels       53    9.0
809           Vitória Michels       54  148.0

[5616 rows x 3 columns]

In [16]:
# salvando os comentarios /// questoes 51->54
comentarios_b = data_turmab.loc[(data_turmab['Questão'] == 51) | (data_turmab['Questão'] == 52) | (data_turmab['Questão'] == 53) | (data_turmab['Questão'] == 54)][["Questão", "Resposta"]]
comentarios_b = comentarios_b.dropna()
comentarios = comentarios.append(comentarios_b, ignore_index=True)
comentarios

     Questão                                           Resposta
0         51                                                  4
1         52                                                  5
2         53                                                  5
3         51                                                  5
4         52                                                  5
..       ...                                                ...
347       54     <p><span style="font-size: 12pt;">﻿</span></p>
348       51                                                  5
349       52                                                  4
350       53                                                  5
351       54  <p><span style="font-size: 12pt;">tenho gostad...

[352 rows x 2 columns]

In [17]:
# questão 24, 1 e 6 foram anuladas
gabarito_b = gabarito_b.drop(index=gabarito_b[gabarito_b['Questão'] == 24 & (gabarito_b['Questão'] == 1) & (gabarito_b['Questão'] == 6)].index)

In [18]:
# limpando as questões 51-54
data_turmab = data_turmab.drop(index=data_turmab[(data_turmab['Questão'] == 51) | (data_turmab['Questão'] == 52) | (data_turmab['Questão'] == 53) | (data_turmab['Questão'] == 54)].index)
# data_turmab = data_turmab.drop(data_turmab.columns[5], axis = 1)

# questão 24 foi anulada tambem
data_turmab = data_turmab.drop(index=data_turmab[data_turmab['Questão'] == 24 & (data_turmab['Questão'] == 1) & (data_turmab['Questão'] == 6)].index)

data_turmab

                            Nome  Questão Resposta  gabarito Correção  Tempo
0    Angel Emanuely Corrêa silva        1        a       NaN    certo   83.0
1    Angel Emanuely Corrêa silva        2        c       NaN    certo  116.0
2    Angel Emanuely Corrêa silva        3        c       NaN    certo   20.0
3    Angel Emanuely Corrêa silva        4        c       NaN   errado   44.0
4    Angel Emanuely Corrêa silva        5        b       NaN   errado   58.0
..                           ...      ...      ...       ...      ...    ...
801              Vitória Michels       46        b       NaN   errado   32.0
802              Vitória Michels       47        d       NaN   errado  157.0
803              Vitória Michels       48        e       NaN   errado   79.0
804              Vitória Michels       49        a       NaN    certo   73.0
805              Vitória Michels       50        b       NaN    certo   39.0

[750 rows x 6 columns]

In [19]:
data_turmab["Correção"] = data_turmab["Correção"] == 'certo'
# data_turmab = data_turmab.fillna("")
data_turmab

                            Nome  Questão Resposta  gabarito  Correção  Tempo
0    Angel Emanuely Corrêa silva        1        a       NaN      True   83.0
1    Angel Emanuely Corrêa silva        2        c       NaN      True  116.0
2    Angel Emanuely Corrêa silva        3        c       NaN      True   20.0
3    Angel Emanuely Corrêa silva        4        c       NaN     False   44.0
4    Angel Emanuely Corrêa silva        5        b       NaN     False   58.0
..                           ...      ...      ...       ...       ...    ...
801              Vitória Michels       46        b       NaN     False   32.0
802              Vitória Michels       47        d       NaN     False  157.0
803              Vitória Michels       48        e       NaN     False   79.0
804              Vitória Michels       49        a       NaN      True   73.0
805              Vitória Michels       50        b       NaN      True   39.0

[750 rows x 6 columns]

In [20]:
# juntando os dados dos alunos com os dados do gabarito

data_turmab = pd.merge(data_turmab,gabarito_b, on='Questão')
data_turmab

,Nome,Questão,Resposta,gabarito,Correção,Tempo,Matéria,Gabarito,Dificuldade,Assunto
0,Angel Emanuely Corrêa silva,1,a,NaN,True,83.0,Matemática,A,fácil,Operações básicas
1,Ariadne Magrin,1,a,NaN,True,87.0,Matemática,A,fácil,Operações básicas
2,Beatriz Santos Bagestan,1,NaN,NaN,False,NaN,Matemática,A,fácil,Operações básicas
3,Bernardo Ross Zanzi,1,a,NaN,True,209.0,Matemática,A,fácil,Operações básicas
4,Dantieli Aline Araujo Maciel,1,c,NaN,False,95.0,Matemática,A,fácil,Operações básicas
...,...,...,...,...,...,...,...,...,...,...
745,Geovanna Aparecida Pereira,50,NaN,NaN,False,NaN,Filosofia/Sociologia,B,Média,Surgimento da filosofia
746,Laura Callado de Aquino,50,b,NaN,True,43.0,Filosofia/Sociologia,B,Média,Surgimento da filosofia
747,LAURA DE ALMEIDA MOREIRA,50,b,NaN,True,24.0,Filosofia/Sociologia,B,Média,Surgimento da filosofia
748,Tiago Aragão Dos Santos,50,b,NaN,True,112.0,Filosofia/Sociologia,B,Média,Surgimento da filosofia
749,Vitória Michels,50,b,NaN,True,39.0,Filosofia/Sociologia,B,Média,Surgimento da filosofia

In [21]:
data_turmab[data_turmab["Nome"] == 'Gabriela de Almeida Fagundes']

,Nome,Questão,Resposta,gabarito,Correção,Tempo,Matéria,Gabarito,Dificuldade,Assunto
8,Gabriela de Almeida Fagundes,1,b,NaN,False,152.0,Matemática,A,fácil,Operações básicas
9,Gabriela de Almeida Fagundes,1,NaN,NaN,False,NaN,Matemática,A,fácil,Operações básicas
23,Gabriela de Almeida Fagundes,2,c,NaN,True,40.0,Matemática,C,fácil,Operações básicas
24,Gabriela de Almeida Fagundes,2,NaN,NaN,False,NaN,Matemática,C,fácil,Operações básicas
38,Gabriela de Almeida Fagundes,3,b,NaN,False,21.0,Matemática,C,média,Sistemas 2x2
...,...,...,...,...,...,...,...,...,...,...
714,Gabriela de Almeida Fagundes,48,NaN,NaN,False,NaN,Geografia,b,Média,Cartografia
728,Gabriela de Almeida Fagundes,49,d,NaN,False,12.0,Filosofia/Sociologia,A,Fácil,Relação indivíduo e sociedade
729,Gabriela de Almeida Fagundes,49,NaN,NaN,False,NaN,Filosofia/Sociologia,A,Fácil,Relação indivíduo e sociedade
743,Gabriela de Almeida Fagundes,50,c,NaN,False,6.0,Filosofia/Sociologia,B,Média,Surgimento da filosofia
744,Gabriela de Almeida Fagundes,50,NaN,NaN,False,NaN,Filosofia/Sociologia,B,Média,Surgimento da filosofia

In [22]:
data_turmab = data_turmab[data_turmab['Resposta'].notna()]
data_turmab[data_turmab["Nome"] == 'Gabriela de Almeida Fagundes']

,Nome,Questão,Resposta,gabarito,Correção,Tempo,Matéria,Gabarito,Dificuldade,Assunto
8,Gabriela de Almeida Fagundes,1,b,NaN,False,152.0,Matemática,A,fácil,Operações básicas
23,Gabriela de Almeida Fagundes,2,c,NaN,True,40.0,Matemática,C,fácil,Operações básicas
38,Gabriela de Almeida Fagundes,3,b,NaN,False,21.0,Matemática,C,média,Sistemas 2x2
53,Gabriela de Almeida Fagundes,4,b,NaN,False,51.0,Matemática,A,fácil,Pitágoras e proporção
68,Gabriela de Almeida Fagundes,5,d,NaN,True,115.0,Matemática,D,média,Regra de Três Composta
83,Gabriela de Almeida Fagundes,6,c,NaN,False,45.0,Matemática,B,díficil,Triângulos e Regra de Três Simples
98,Gabriela de Almeida Fagundes,7,b,NaN,True,7.0,Matemática,B,média,frações/dízimas
113,Gabriela de Almeida Fagundes,8,e,NaN,True,460.0,Matemática,E,fácil,expressões numéricas
128,Gabriela de Almeida Fagundes,9,c,NaN,False,5.0,Matemática,D,média,equações
143,Gabriela de Almeida Fagundes,10,c,NaN,False,2.0,Matemática,A,média,Mínimo múltiplo comum
158,Gabriela de Almeida Fagundes,11,b,NaN,False,5.0,Matemática,A,fácil,Potência
173,Gabriela de Almeida Fagundes,12,c,NaN,False,5.0,Matemática,D,difícil,Potência e radiciação
188,Gabriela de Almeida Fagundes,13,a,NaN,False,26.0,Matemática,B,difícil,Radiciação
203,Gabriela de Almeida Fagundes,14,a,NaN,True,36.0,Português,A,fácil,"tipos de texto (verbal, não verbal, misto)"
218,Gabriela de Almeida Fagundes,15,c,NaN,False,52.0,Português,B,média,funções do texto
233,Gabriela de Almeida Fagundes,16,a,NaN,False,24.0,Português,D,média,gêneros textuais
248,Gabriela de Almeida Fagundes,17,d,NaN,False,51.0,Português,E,média,Semântica (homônimos e parônimos) e ortografia
263,Gabriela de Almeida Fagundes,18,a,NaN,False,30.0,Português,E,fácil,Interpretação de texto
278,Gabriela de Almeida Fagundes,19,b,NaN,True,4.0,Português,B,média,"interpretação de texto, preconceito linguístic..."
293,Gabriela de Almeida Fagundes,20,d,NaN,False,4.0,Português,B,Fácil,classes de palavras
308,Gabriela de Almeida Fagundes,21,a,NaN,True,4.0,Português,A,Díficil,classes de palavras
323,Gabriela de Almeida Fagundes,22,d,NaN,False,3.0,Português,E,Difícil,classes de palavras
338,Gabriela de Almeida Fagundes,23,d,NaN,False,5.0,Português,A,Díficil,Tonicidade
353,Gabriela de Almeida Fagundes,24,b,NaN,False,7.0,Física,C,difícil,Vetores
368,Gabriela de Almeida Fagundes,25,d,NaN,False,1102.0,Física,C,média,Conversão de unidades
383,Gabriela de Almeida Fagundes,26,c,NaN,False,5.0,Física,B,média,Conversão de unidades/Prefixos
398,Gabriela de Almeida Fagundes,27,b,NaN,False,4.0,Física,E,fácil,Conversão de unidades
413,Gabriela de Almeida Fagundes,28,c,NaN,False,6.0,Física,B,média,Conversão de unidades/notação científica
428,Gabriela de Almeida Fagundes,29,c,NaN,False,5.0,Física,D,fácil,Prefixos/notação científica
443,Gabriela de Almeida Fagundes,30,a,NaN,False,126.0,Química,C,Média,Separação de misturas homogêneas
458,Gabriela de Almeida Fagundes,31,c,NaN,False,20.0,Química,D,Média,"Número de avogadro, mol, massa molar e atômica"
473,Gabriela de Almeida Fagundes,32,d,NaN,False,11.0,Química,E,Fácil,Cálculo de massa molar
488,Gabriela de Almeida Fagundes,33,b,NaN,False,52.0,Química,A,Fácil,Propriedades da Matéria
503,Gabriela de Almeida Fagundes,34,d,NaN,False,17.0,Química,B,Fácil,"Conceito de Substância, Alotropia e Transforma..."
518,Gabriela de Almeida Fagundes,35,b,NaN,False,90.0,Biologia,C,Fácil,Água
533,Gabriela de Almeida Fagundes,36,c,NaN,False,46.0,Biologia,A,Fácil,Seres Vivos e Níveis de Organização
548,Gabriela de Almeida Fagundes,37,c,NaN,False,9.0,Biologia,D,Difícil,"Citologia, Tipos Celulares e Teoria da Endossi..."
563,Gabriela de Almeida Fagundes,38,c,NaN,False,17.0,Biologia,A,Média,Classificação dos seres vivos
578,Gabriela de Almeida Fagundes,39,d,NaN,False,28.0,Biologia,B,Média,Origem da vida
593,Gabriela de Almeida Fagundes,40,b,NaN,True,124.0,História,B,Média,Fontes históricas e relativismo cultural
608,Gabriela de Almeida Fagundes,41,e,NaN,False,113.0,História,A,Média,Patrimônio cultural
623,Gabriela de Almeida Fagundes,42,b,NaN,False,12.0,História,C,Média,Tempo Histórico
638,Gabriela de Almeida Fagundes,43,c,NaN,True,1004.0,História,C,Fácil,Patrimônio cultural
653,Gabriela de Almeida Fagundes,44,b,NaN,False,13.0,História,E,Média,Fontes históricas
668,Gabriela de Almeida Fagundes,45,e,NaN,False,2.0,Geografia,c,Média,Conceitos de demografia
683,Gabriela de Almeida Fagundes,46,c,NaN,False,16.0,Geografia,e,Fácil,Conceitos de geografia política
698,Gabriela de Almeida Fagundes,47,c,NaN,False,3.0,Geografia,b,Média,Localização e orientação
713,Gabriela de Almeida Fagundes,48,c,NaN,False,2.0,Geografia,b,Média,Cartografia
728,Gabriela de Almeida Fagundes,49,d,NaN,False,12.0,Filosofia/Sociologia,A,Fácil,Relação indivíduo e sociedade
743,Gabriela de Almeida Fagundes,50,c,NaN,False,6.0,Filosofia/Sociologia,B,Média,Surgimento da filosofia

In [23]:
data = data.append(data_turmab, ignore_index=True)
data

,Nome,Questão,Resposta,gabarito,Correção,Matéria,Gabarito,Dificuldade,Assunto,Tempo
0,Ágata Pereira de Andrade,1,a,NaN,True,Matemática,A,fácil,Operações básicas,NaN
1,Ágata Cristina Cidade,1,a,NaN,True,Matemática,A,fácil,Operações básicas,NaN
2,Alice Vailon Padilha,1,e,NaN,False,Matemática,A,fácil,Operações básicas,NaN
3,Alice Leder St.John,1,a,NaN,True,Matemática,A,fácil,Operações básicas,NaN
4,Amanda Pereira Algaranhar,1,e,NaN,False,Matemática,A,fácil,Operações básicas,NaN
...,...,...,...,...,...,...,...,...,...,...
4990,Gabriela de Almeida Fagundes,50,c,NaN,False,Filosofia/Sociologia,B,Média,Surgimento da filosofia,6.0
4991,Laura Callado de Aquino,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia,43.0
4992,LAURA DE ALMEIDA MOREIRA,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia,24.0
4993,Tiago Aragão Dos Santos,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia,112.0
4994,Vitória Michels,50,b,NaN,True,Filosofia/Sociologia,B,Média,Surgimento da filosofia,39.0

In [24]:
data = data.fillna("")

In [25]:
data_clean = data[['Nome','Matéria', 'Questão','Resposta','Gabarito','Assunto','Dificuldade']].sort_values(['Nome', 'Questão', "Matéria"]).set_index(['Nome','Matéria', 'Questão'])
data_clean.to_pickle("dados-relatorio-alunos/data.pkl")
data_clean

                                                    Resposta Gabarito  \
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1              a        A
                                            2              a        C
                                            3              a        C
                                            4                       A
                                            5              d        D
...                                                      ...      ...
Érica da Silva Tavares Geografia            46             a        e
                                            47             d        b
                                            48             e        b
                       Filosofia/Sociologia 49             a        A
                                            50             b        B

                                                                             Assunto  \
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1                      Operações básicas
                                            2                      Operações básicas
                                            3                           Sistemas 2x2
                                            4                  Pitágoras e proporção
                                            5                 Regra de Três Composta
...                                                                              ...
Érica da Silva Tavares Geografia            46       Conceitos de geografia política
                                            47              Localização e orientação
                                            48                           Cartografia
                       Filosofia/Sociologia 49         Relação indivíduo e sociedade
                                            50               Surgimento da filosofia

                                                    Dificuldade
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1             fácil
                                            2             fácil
                                            3             média
                                            4             fácil
                                            5             média
...                                                         ...
Érica da Silva Tavares Geografia            46            Fácil
                                            47            Média
                                            48            Média
                       Filosofia/Sociologia 49            Fácil
                                            50            Média

[4995 rows x 4 columns]

In [26]:
data_clean[data_clean.index == "Gabriela de Almeida Fagundes"]
data_clean.xs('Gabriela de Almeida Fagundes', level='Nome')

                             Resposta Gabarito  \
Matéria              Questão
Matemática           1              b        A
                     2              c        C
                     3              b        C
                     4              b        A
                     5              d        D
                     6              c        B
                     7              b        B
                     8              e        E
                     9              c        D
                     10             c        A
                     11             b        A
                     12             c        D
                     13             a        B
Português            14             a        A
                     15             c        B
                     16             a        D
                     17             d        E
                     18             a        E
                     19             b        B
                     20             d        B
                     21             a        A
                     22             d        E
                     23             d        A
Física               24             b        C
                     25             d        C
                     26             c        B
                     27             b        E
                     28             c        B
                     29             c        D
Química              30             a        C
                     31             c        D
                     32             d        E
                     33             b        A
                     34             d        B
Biologia             35             b        C
                     36             c        A
                     37             c        D
                     38             c        A
                     39             d        B
História             40             b        B
                     41             e        A
                     42             b        C
                     43             c        C
                     44             b        E
Geografia            45             e        c
                     46             c        e
                     47             c        b
                     48             c        b
Filosofia/Sociologia 49             d        A
                     50             c        B

                                                                        Assunto  \
Matéria              Questão
Matemática           1                                        Operações básicas
                     2                                        Operações básicas
                     3                                             Sistemas 2x2
                     4                                    Pitágoras e proporção
                     5                                   Regra de Três Composta
                     6                       Triângulos e Regra de Três Simples
                     7                                          frações/dízimas
                     8                                     expressões numéricas
                     9                                                 equações
                     10                                   Mínimo múltiplo comum
                     11                                                Potência
                     12                                   Potência e radiciação
                     13                                              Radiciação
Português            14              tipos de texto (verbal, não verbal, misto)
                     15                                        funções do texto
                     16                                        gêneros textuais
                     17          Semântica (homônimos e parônimos) e ortografia
                     18                                  Interpretação de texto
                     19       interpretação de texto, preconceito linguístic...
                     20                                     classes de palavras
                     21                                     classes de palavras
                     22                                     classes de palavras
                     23                                              Tonicidade
Física               24                                                 Vetores
                     25                                   Conversão de unidades
                     26                          Conversão de unidades/Prefixos
                     27                                   Conversão de unidades
                     28                Conversão de unidades/notação científica
                     29                             Prefixos/notação científica
Química              30                        Separação de misturas homogêneas
                     31          Número de avogadro, mol, massa molar e atômica
                     32                                  Cálculo de massa molar
                     33                                 Propriedades da Matéria
                     34       Conceito de Substância, Alotropia e Transforma...
Biologia             35                                                    Água
                     36                     Seres Vivos e Níveis de Organização
                     37       Citologia, Tipos Celulares e Teoria da Endossi...
                     38                           Classificação dos seres vivos
                     39                                          Origem da vida
História             40                Fontes históricas e relativismo cultural
                     41                                     Patrimônio cultural
                     42                                         Tempo Histórico
                     43                                     Patrimônio cultural
                     44                                       Fontes históricas
Geografia            45                                 Conceitos de demografia
                     46                         Conceitos de geografia política
                     47                                Localização e orientação
                     48                                             Cartografia
Filosofia/Sociologia 49                           Relação indivíduo e sociedade
                     50                                 Surgimento da filosofia

                             Dificuldade
Matéria              Questão
Matemática           1             fácil
                     2             fácil
                     3             média
                     4             fácil
                     5             média
                     6           díficil
                     7             média
                     8             fácil
                     9             média
                     10            média
                     11            fácil
                     12          difícil
                     13          difícil
Português            14            fácil
                     15            média
                     16            média
                     17            média
                     18            fácil
                     19            média
                     20            Fácil
                     21          Díficil
                     22          Difícil
                     23          Díficil
Física               24          difícil
                     25            média
                     26            média
                     27            fácil
                     28            média
                     29            fácil
Química              30            Média
                     31            Média
                     32            Fácil
                     33            Fácil
                     34            Fácil
Biologia             35            Fácil
                     36            Fácil
                     37          Difícil
                     38            Média
                     39            Média
História             40            Média
                     41            Média
                     42            Média
                     43            Fácil
                     44            Média
Geografia            45            Média
                     46            Fácil
                     47            Média
                     48            Média
Filosofia/Sociologia 49            Fácil
                     50            Média

In [27]:
data = data.sort_values(['Nome', 'Questão', "Matéria"]).set_index(['Nome','Matéria', 'Questão'])
data

                                                    Resposta gabarito  \
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1              a
                                            2              a
                                            3              a
                                            4
                                            5              d
...                                                      ...      ...
Érica da Silva Tavares Geografia            46             a
                                            47             d
                                            48             e
                       Filosofia/Sociologia 49             a
                                            50             b

                                                     Correção Gabarito  \
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1            True        A
                                            2           False        C
                                            3           False        C
                                            4           False        A
                                            5            True        D
...                                                       ...      ...
Érica da Silva Tavares Geografia            46          False        e
                                            47          False        b
                                            48          False        b
                       Filosofia/Sociologia 49           True        A
                                            50           True        B

                                                    Dificuldade  \
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1             fácil
                                            2             fácil
                                            3             média
                                            4             fácil
                                            5             média
...                                                         ...
Érica da Silva Tavares Geografia            46            Fácil
                                            47            Média
                                            48            Média
                       Filosofia/Sociologia 49            Fácil
                                            50            Média

                                                                             Assunto  \
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1                      Operações básicas
                                            2                      Operações básicas
                                            3                           Sistemas 2x2
                                            4                  Pitágoras e proporção
                                            5                 Regra de Três Composta
...                                                                              ...
Érica da Silva Tavares Geografia            46       Conceitos de geografia política
                                            47              Localização e orientação
                                            48                           Cartografia
                       Filosofia/Sociologia 49         Relação indivíduo e sociedade
                                            50               Surgimento da filosofia

                                                     Tempo
Nome                   Matéria              Questão
Alice Leder St.John    Matemática           1
                                            2
                                            3
                                            4
                                            5
...                                                    ...
Érica da Silva Tavares Geografia            46        38.0
                                            47       230.0
                                            48       106.0
                       Filosofia/Sociologia 49        86.0
                                            50        17.0

[4995 rows x 7 columns]

In [28]:
# dados do desempenho dos alunos por questão
# cada nota é a porcentagem de acerto na referida materia
desempenho_por_materia = pd.read_excel("Gabarito/desempenho_aluno_materia.xlsx")
desempenho_por_materia

,Nome,Matemática,Português,Química,História,Geografia,Física,Biologia,Filosofia e Sociologia,Nota geral(0 a 80)
0,Ágata Pereira de Andrade,6.15,9,4,8,7.5,5.00,8,10,57.65
1,Ágata Cristina Cidade,5.38,8,8,10,10.0,5.00,6,10,62.38
2,Alice Vailon Padilha,5.38,8,6,8,7.5,5.00,4,10,53.88
3,Alice Leder St.John,2.31,5,4,6,2.5,3.33,2,5,30.14
4,Amanda Pereira Algaranhar,0.77,4,2,8,5.0,0.00,6,10,35.77
...,...,...,...,...,...,...,...,...,...,...
84,Vitória Morais da Silva,4.62,8,6,8,7.5,5.00,6,10,55.12
85,Yanne Alves Marques,3.85,6,4,6,2.5,6.67,4,0,33.01
86,Yasmim Vasques Santana,6.15,7,4,8,2.5,3.33,4,10,44.99
87,Yasmin Duarte Vieira,4.62,7,4,6,2.5,3.33,6,5,38.45
88,Yzabelle da Luz Portela,3.08,5,0,8,5.0,0.00,2,10,33.08

In [29]:
desempenho_por_materia["Nota"] = round((desempenho_por_materia["Nota geral(0 a 80)"] / 80)*10, 2)
desempenho_por_materia

,Nome,Matemática,Português,Química,História,Geografia,Física,Biologia,Filosofia e Sociologia,Nota geral(0 a 80),Nota
0,Ágata Pereira de Andrade,6.15,9,4,8,7.5,5.00,8,10,57.65,7.21
1,Ágata Cristina Cidade,5.38,8,8,10,10.0,5.00,6,10,62.38,7.80
2,Alice Vailon Padilha,5.38,8,6,8,7.5,5.00,4,10,53.88,6.74
3,Alice Leder St.John,2.31,5,4,6,2.5,3.33,2,5,30.14,3.77
4,Amanda Pereira Algaranhar,0.77,4,2,8,5.0,0.00,6,10,35.77,4.47
...,...,...,...,...,...,...,...,...,...,...,...
84,Vitória Morais da Silva,4.62,8,6,8,7.5,5.00,6,10,55.12,6.89
85,Yanne Alves Marques,3.85,6,4,6,2.5,6.67,4,0,33.01,4.13
86,Yasmim Vasques Santana,6.15,7,4,8,2.5,3.33,4,10,44.99,5.62
87,Yasmin Duarte Vieira,4.62,7,4,6,2.5,3.33,6,5,38.45,4.81
88,Yzabelle da Luz Portela,3.08,5,0,8,5.0,0.00,2,10,33.08,4.14

# Métricas

## Alunos

In [30]:
# calcula o total de questões certas por máteria, quantas questões tinham por matéria, e média por matéria

# agg permite agregar multiplas funções ao groupby
acertos_aluno = data.groupby(['Nome','Matéria'])['Correção'].agg(['sum','count','mean'])
acertos_aluno = acertos_aluno.rename(columns={"sum": "Total Acertos", "mean": "Média Individual", 'count': "Total questoes"})

In [65]:
acertos_aluno.describe()

       Média Individual  Media Geral
count        900.000000   900.000000
mean           0.525601     0.522067
std            0.293979     0.147957
min            0.000000     0.340000
25%            0.333333     0.438000
50%            0.531915     0.464000
75%            0.750000     0.585000
max            1.000000     0.864322

In [31]:
# comparar a média de acerto das questões dos alunos com a turma geral

# media geral do einstein
media_acerto_materia = data.groupby('Matéria').mean()

media_acerto_materia = media_acerto_materia.rename(columns={"Correção": "Media Geral"})


# adicionando a media geral aos dados individuais
acertos_aluno = acertos_aluno.join(media_acerto_materia, on='Matéria')
acertos_aluno

                                             Total Acertos  Total questoes  \
Nome                   Matéria
Alice Leder St.John    Biologia                          1               5
                       Filosofia/Sociologia              1               2
                       Física                            2               6
                       Geografia                         1               4
                       História                          3               5
...                                                    ...             ...
Érica da Silva Tavares Geografia                         1               4
                       História                          5               5
                       Matemática                        8              13
                       Português                         6              10
                       Química                           3               5

                                             Média Individual  Media Geral
Nome                   Matéria
Alice Leder St.John    Biologia                      0.200000     0.438000
                       Filosofia/Sociologia          0.500000     0.864322
                       Física                        0.333333     0.340000
                       Geografia                     0.250000     0.425000
                       História                      0.600000     0.646000
...                                                       ...          ...
Érica da Silva Tavares Geografia                     0.250000     0.425000
                       História                      1.000000     0.646000
                       Matemática                    0.615385     0.440586
                       Português                     0.600000     0.585000
                       Química                       0.600000     0.464000

[800 rows x 4 columns]

In [32]:
pontuacao_total = acertos_aluno.groupby("Nome").sum()
pontuacao_total["Total questoes"] = 47
pontuacao_total

,Total Acertos,Total questoes,Média Individual,Media Geral
Nome,,,,
Alice Leder St.John,18,47,3.014103,4.202908
Alice Vailon Padilha,32,47,5.388462,4.202908
Amanda Batista Rosa,23,47,3.088462,4.202908
Amanda Pereira Algaranhar,17,47,3.576923,4.202908
Ana Cecilia Salvatori da Silva,0,47,0.000000,4.202908
...,...,...,...,...
mauricio rodrigues,20,47,3.574359,4.202908
Ágata Cristina Cidade,36,47,6.238462,4.202908
Ágata Pereira de Andrade,35,47,5.765385,4.202908
Édio Frederico Da Rold Junior,23,47,3.815385,4.202908
Érica da Silva Tavares,31,47,5.165385,4.202908

In [62]:
pontuacao_total.describe()

       Total Acertos  Total questoes  Média Individual   Media Geral
count     100.000000           100.0        100.000000  1.000000e+02
mean       24.760000            47.0          4.203598  4.202908e+00
std         8.707503             0.0          1.470266  8.926529e-16
min         0.000000            47.0          0.000000  4.202908e+00
25%        20.750000            47.0          3.635897  4.202908e+00
50%        25.000000            47.0          4.371154  4.202908e+00
75%        31.000000            47.0          5.106410  4.202908e+00
max        45.000000            47.0          7.329487  4.202908e+00

In [33]:
# identificar alunos que não fizeram o simuliinho
pontuacao_total["Zerou"] = pontuacao_total["Total Acertos"] == 0

In [34]:
acertos_aluno = acertos_aluno.unstack()
acertos_aluno.head()

                               Total Acertos                              \
Matéria                             Biologia Filosofia/Sociologia Física
Nome
Alice Leder St.John                        1                    1      2
Alice Vailon Padilha                       2                    2      3
Amanda Batista Rosa                        2                    0      3
Amanda Pereira Algaranhar                  3                    2      0
Ana Cecilia Salvatori da Silva             0                    0      0

                                                                        \
Matéria                        Geografia História Matemática Português
Nome
Alice Leder St.John                    1        3          3         5
Alice Vailon Padilha                   3        4          7         8
Amanda Batista Rosa                    1        2          7         6
Amanda Pereira Algaranhar              2        4          1         4
Ana Cecilia Salvatori da Silva         0        0          0         0

                                       Total questoes                       \
Matéria                        Química       Biologia Filosofia/Sociologia
Nome
Alice Leder St.John                  2              5                    2
Alice Vailon Padilha                 3              5                    2
Amanda Batista Rosa                  2              5                    2
Amanda Pereira Algaranhar            1              5                    2
Ana Cecilia Salvatori da Silva       0              5                    2

                                ... Média Individual         Media Geral  \
Matéria                         ...        Português Química    Biologia
Nome                            ...
Alice Leder St.John             ...              0.5     0.4       0.438
Alice Vailon Padilha            ...              0.8     0.6       0.438
Amanda Batista Rosa             ...              0.6     0.4       0.438
Amanda Pereira Algaranhar       ...              0.4     0.2       0.438
Ana Cecilia Salvatori da Silva  ...              0.0     0.0       0.438

                                                                               \
Matéria                        Filosofia/Sociologia Física Geografia História
Nome
Alice Leder St.John                        0.864322   0.34     0.425    0.646
Alice Vailon Padilha                       0.864322   0.34     0.425    0.646
Amanda Batista Rosa                        0.864322   0.34     0.425    0.646
Amanda Pereira Algaranhar                  0.864322   0.34     0.425    0.646
Ana Cecilia Salvatori da Silva             0.864322   0.34     0.425    0.646


Matéria                        Matemática Português Química
Nome
Alice Leder St.John              0.440586     0.585   0.464
Alice Vailon Padilha             0.440586     0.585   0.464
Amanda Batista Rosa              0.440586     0.585   0.464
Amanda Pereira Algaranhar        0.440586     0.585   0.464
Ana Cecilia Salvatori da Silva   0.440586     0.585   0.464

[5 rows x 32 columns]

In [35]:
acertos_aluno[('Total Acertos', 'Total')] = acertos_aluno['Total Acertos'].T.sum()

In [36]:
acertos_aluno[('Total questoes', 'Total')] = 47

In [37]:
acertos_aluno[('Média Individual', 'Total')] = acertos_aluno[('Total Acertos', 'Total')] / 47

In [38]:
acertos_aluno

                               Total Acertos                              \
Matéria                             Biologia Filosofia/Sociologia Física
Nome
Alice Leder St.John                        1                    1      2
Alice Vailon Padilha                       2                    2      3
Amanda Batista Rosa                        2                    0      3
Amanda Pereira Algaranhar                  3                    2      0
Ana Cecilia Salvatori da Silva             0                    0      0
...                                      ...                  ...    ...
mauricio rodrigues                         2                    2      1
Ágata Cristina Cidade                      3                    2      3
Ágata Pereira de Andrade                   4                    2      3
Édio Frederico Da Rold Junior              1                    2      3
Érica da Silva Tavares                     3                    2      3

                                                                        \
Matéria                        Geografia História Matemática Português
Nome
Alice Leder St.John                    1        3          3         5
Alice Vailon Padilha                   3        4          7         8
Amanda Batista Rosa                    1        2          7         6
Amanda Pereira Algaranhar              2        4          1         4
Ana Cecilia Salvatori da Silva         0        0          0         0
...                                  ...      ...        ...       ...
mauricio rodrigues                     0        3          4         5
Ágata Cristina Cidade                  4        5          7         8
Ágata Pereira de Andrade               3        4          8         9
Édio Frederico Da Rold Junior          2        1          8         4
Érica da Silva Tavares                 1        5          8         6

                                       Total questoes                       \
Matéria                        Química       Biologia Filosofia/Sociologia
Nome
Alice Leder St.John                  2              5                    2
Alice Vailon Padilha                 3              5                    2
Amanda Batista Rosa                  2              5                    2
Amanda Pereira Algaranhar            1              5                    2
Ana Cecilia Salvatori da Silva       0              5                    2
...                                ...            ...                  ...
mauricio rodrigues                   3              5                    2
Ágata Cristina Cidade                4              5                    2
Ágata Pereira de Andrade             2              5                    2
Édio Frederico Da Rold Junior        2              5                    2
Érica da Silva Tavares               3              5                    2

                                ...          Media Geral                   \
Matéria                         ... Filosofia/Sociologia Física Geografia
Nome                            ...
Alice Leder St.John             ...             0.864322   0.34     0.425
Alice Vailon Padilha            ...             0.864322   0.34     0.425
Amanda Batista Rosa             ...             0.864322   0.34     0.425
Amanda Pereira Algaranhar       ...             0.864322   0.34     0.425
Ana Cecilia Salvatori da Silva  ...             0.864322   0.34     0.425
...                             ...                  ...    ...       ...
mauricio rodrigues              ...             0.864322   0.34     0.425
Ágata Cristina Cidade           ...             0.864322   0.34     0.425
Ágata Pereira de Andrade        ...             0.864322   0.34     0.425
Édio Frederico Da Rold Junior   ...             0.864322   0.34     0.425
Érica da Silva Tavares          ...             0.864322   0.34     0.425

                                                                      \
Matéria                        História Matemática Português Química
Nome
Alice Leder St.John               0.646   0.440586     0.585   0.464
Alice Vailon Padilha              0.646   0.440586     0.585   0.464
Amanda Batista Rosa               0.646   0.440586     0.585   0.464
Amanda Pereira Algaranhar         0.646   0.440586     0.585   0.464
Ana Cecilia Salvatori da Silva    0.646   0.440586     0.585   0.464
...                                 ...        ...       ...     ...
mauricio rodrigues                0.646   0.440586     0.585   0.464
Ágata Cristina Cidade             0.646   0.440586     0.585   0.464
Ágata Pereira de Andrade          0.646   0.440586     0.585   0.464
Édio Frederico Da Rold Junior     0.646   0.440586     0.585   0.464
Érica da Silva Tavares            0.646   0.440586     0.585   0.464

                               Total Acertos Total questoes Média Individual
Matéria                                Total          Total            Total
Nome
Alice Leder St.John                       18             47         0.382979
Alice Vailon Padilha                      32             47         0.680851
Amanda Batista Rosa                       23             47         0.489362
Amanda Pereira Algaranhar                 17             47         0.361702
Ana Cecilia Salvatori da Silva             0             47         0.000000
...                                      ...            ...              ...
mauricio rodrigues                        20             47         0.425532
Ágata Cristina Cidade                     36             47         0.765957
Ágata Pereira de Andrade                  35             47         0.744681
Édio Frederico Da Rold Junior             23             47         0.489362
Érica da Silva Tavares                    31             47         0.659574

[100 rows x 35 columns]

In [39]:
acertos_aluno = acertos_aluno.stack()
media_acertos_obj = data['Correção'].mean()
acertos_aluno = acertos_aluno.fillna(value=media_acertos_obj)
acertos_aluno

                                             Media Geral  Média Individual  \
Nome                   Matéria
Alice Leder St.John    Biologia                 0.438000          0.200000
                       Filosofia/Sociologia     0.864322          0.500000
                       Física                   0.340000          0.333333
                       Geografia                0.425000          0.250000
                       História                 0.646000          0.600000
...                                                  ...               ...
Érica da Silva Tavares História                 0.646000          1.000000
                       Matemática               0.440586          0.615385
                       Português                0.585000          0.600000
                       Química                  0.464000          0.600000
                       Total                    0.495696          0.659574

                                             Total Acertos  Total questoes
Nome                   Matéria
Alice Leder St.John    Biologia                          1               5
                       Filosofia/Sociologia              1               2
                       Física                            2               6
                       Geografia                         1               4
                       História                          3               5
...                                                    ...             ...
Érica da Silva Tavares História                          5               5
                       Matemática                        8              13
                       Português                         6              10
                       Química                           3               5
                       Total                            31              47

[900 rows x 4 columns]

In [40]:
acertos_aluno.xs('Total', level='Matéria')

,Media Geral,Média Individual,Total Acertos,Total questoes
Nome,,,,
Alice Leder St.John,0.495696,0.382979,18,47
Alice Vailon Padilha,0.495696,0.680851,32,47
Amanda Batista Rosa,0.495696,0.489362,23,47
Amanda Pereira Algaranhar,0.495696,0.361702,17,47
Ana Cecilia Salvatori da Silva,0.495696,0.000000,0,47
...,...,...,...,...
mauricio rodrigues,0.495696,0.425532,20,47
Ágata Cristina Cidade,0.495696,0.765957,36,47
Ágata Pereira de Andrade,0.495696,0.744681,35,47
Édio Frederico Da Rold Junior,0.495696,0.489362,23,47
Érica da Silva Tavares,0.495696,0.659574,31,47

In [41]:
# acertos_aluno[acertos_| acertos_aluno["Total Acertos"] == 0]

In [42]:
# manipulando a coluna de total de acertos pra mostrar no formato -> acertos/total de questoes
acertos_aluno[['Total Acertos', 'Total questoes']] = acertos_aluno[['Total Acertos', 'Total questoes']].astype(str)

acertos_aluno['Total de Acertos'] = acertos_aluno[['Total Acertos', 'Total questoes']].agg('/'.join, axis=1)

acertos_aluno = acertos_aluno.drop(columns =['Total Acertos', 'Total questoes'])

In [43]:
# reordenando as colunas
acertos_aluno = acertos_aluno[['Total de Acertos',  "Média Individual", "Media Geral"]]
acertos_aluno

                                            Total de Acertos  \
Nome                   Matéria
Alice Leder St.John    Biologia                          1/5
                       Filosofia/Sociologia              1/2
                       Física                            2/6
                       Geografia                         1/4
                       História                          3/5
...                                                      ...
Érica da Silva Tavares História                          5/5
                       Matemática                       8/13
                       Português                        6/10
                       Química                           3/5
                       Total                           31/47

                                             Média Individual  Media Geral
Nome                   Matéria
Alice Leder St.John    Biologia                      0.200000     0.438000
                       Filosofia/Sociologia          0.500000     0.864322
                       Física                        0.333333     0.340000
                       Geografia                     0.250000     0.425000
                       História                      0.600000     0.646000
...                                                       ...          ...
Érica da Silva Tavares História                      1.000000     0.646000
                       Matemática                    0.615385     0.440586
                       Português                     0.600000     0.585000
                       Química                       0.600000     0.464000
                       Total                         0.659574     0.495696

[900 rows x 3 columns]

In [44]:
# salvando como pickle para o relatorio
acertos_aluno.to_pickle('dados-relatorio-alunos/acertos_aluno.pkl')

In [45]:
# calculando a colocação dos alunos
colocacao = pontuacao_total.sort_values(by=['Total Acertos'], ascending=False)

# como os indices ficam fora de ordem depois de colocar as notas em valor decrescente, é necessário resetar o valor do indices
# de 'colocacao'
colocacao = colocacao.reset_index()

colocacao['Colocação'] = colocacao.index + 1
colocacao["% de acerto"] = round((colocacao["Total Acertos"] / colocacao["Total questoes"])*100, 3)
# salvando como pickle para o relatorio
colocacao.to_pickle('dados-relatorio-alunos/colocacao.pkl')


colocacao

,Nome,Total Acertos,Total questoes,Média Individual,Media Geral,Zerou,Colocação,% de acerto
0,Laura Ribeiro Maria,45,47,7.329487,4.202908,False,1,95.745
1,Camylla Cristina Rodrigues,44,47,7.275641,4.202908,False,2,93.617
2,Guilherme Medeiros Velho,38,47,6.342308,4.202908,False,3,80.851
3,Ágata Cristina Cidade,36,47,6.238462,4.202908,False,4,76.596
4,Caio Murilo Alves da Silva Izidro,36,47,5.935897,4.202908,False,5,76.596
...,...,...,...,...,...,...,...,...
95,Ana Cecilia Salvatori da Silva,0,47,0.000000,4.202908,True,96,0.000
96,Victoria Peyloubet,0,47,0.000000,4.202908,True,97,0.000
97,Luiza Machado Ferreira Santos,0,47,0.000000,4.202908,True,98,0.000
98,Ivone Maria Pedroso,0,47,0.000000,4.202908,True,99,0.000
99,Gabriel Xarão de Oliveira,0,47,0.000000,4.202908,True,100,0.000

In [63]:
colocacao.describe()

,Total Acertos,Total questoes,Média Individual,Media Geral,Colocação,% de acerto
count,100.000000,100.0,100.000000,1.000000e+02,100.000000,100.000000
mean,24.760000,47.0,4.203598,4.202908e+00,50.500000,52.680780
std,8.707503,0.0,1.470266,8.926529e-16,29.011492,18.526559
min,0.000000,47.0,0.000000,4.202908e+00,1.000000,0.000000
25%,20.750000,47.0,3.635897,4.202908e+00,25.750000,44.149000
50%,25.000000,47.0,4.371154,4.202908e+00,50.500000,53.191000
75%,31.000000,47.0,5.106410,4.202908e+00,75.250000,65.957000
max,45.000000,47.0,7.329487,4.202908e+00,100.000000,95.745000

# Docentes

In [46]:
# porcentagem acerto em cada materia = media de acerto de cada materia
media_acerto_materia = data.groupby('Matéria').mean()


# salvando como pickle para o relatorio
media_acerto_materia.to_pickle('dados-relatorio-docentes/media_acerto_materia.pkl')

In [47]:
media_acerto_materia = data.groupby(['Matéria']).agg(['sum','count','mean'])
media_acerto_materia

                     Correção
                          sum count      mean
Matéria
Biologia                  219   500  0.438000
Filosofia/Sociologia      172   199  0.864322
Física                    204   600  0.340000
Geografia                 170   400  0.425000
História                  323   500  0.646000
Matemática                571  1296  0.440586
Português                 585  1000  0.585000
Química                   232   500  0.464000

In [64]:
media_acerto_materia.describe()

        Correção
             sum        count      mean
count    8.00000     8.000000  8.000000
mean   309.50000   624.375000  0.525364
std    172.44378   352.635764  0.167340
min    170.00000   199.000000  0.340000
25%    196.00000   475.000000  0.434750
50%    225.50000   500.000000  0.452293
75%    385.00000   700.000000  0.600250
max    585.00000  1296.000000  0.864322

In [48]:
# media por materia
media_por_materia = desempenho_por_materia.mean()
media_por_materia

Matemática                 4.348090
Português                  5.853933
Química                    4.629213
História                   6.426966
Geografia                  4.353933
Física                     3.427191
Biologia                   4.494382
Filosofia e Sociologia     8.651685
Nota geral(0 a 80)        42.184270
Nota                       5.273596
dtype: float64

In [49]:
# media de acerto em cada questão da prova
media_acerto_questao = data.groupby(["Matéria", "Assunto","Dificuldade", "Questão"]).agg(['sum','count','mean'])
media_acerto_questao = media_acerto_questao.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Respostas"})
# media_acerto_questao.drop(media_acerto_questao.column, axis=1, inplace=True)
media_acerto_questao

                                                                                     Correção  \
                                                                                Total Acertos
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37                  6
                                                                        46                 19
         Classificação dos seres vivos                      Média       38                  4
                                                                        47                 41
         Origem da vida                                     Média       39                  2
...                                                                                       ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31                  1
         Propriedades da Matéria                            Fácil       27                 58
                                                                        33                  9
         Separação de misturas homogêneas                   Média       24                 28
                                                                        30                  2

                                                                                                 \
                                                                                Total Respostas
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37                   11
                                                                        46                   89
         Classificação dos seres vivos                      Média       38                   11
                                                                        47                   89
         Origem da vida                                     Média       39                   11
...                                                                                         ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31                   11
         Propriedades da Matéria                            Fácil       27                   89
                                                                        33                   11
         Separação de misturas homogêneas                   Média       24                   89
                                                                        30                   11


                                                                                    Média
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37       0.545455
                                                                        46       0.213483
         Classificação dos seres vivos                      Média       38       0.363636
                                                                        47       0.460674
         Origem da vida                                     Média       39       0.181818
...                                                                                   ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31       0.090909
         Propriedades da Matéria                            Fácil       27       0.651685
                                                                        33       0.818182
         Separação de misturas homogêneas                   Média       24       0.314607
                                                                        30       0.181818

[75 rows x 3 columns]

In [50]:
tempo = tempo.drop(index=tempo[(tempo['Questão'] == 51) | (tempo['Questão'] == 52) | (tempo['Questão'] == 53) | (tempo['Questão'] == 54)].index)

tempo_questao = tempo.groupby("Questão").mean()
tempo_questao

              Tempo
Questão
1        208.463158
2        182.326316
3        220.831579
4        397.063158
5        411.094737
6        310.263158
7        315.094737
8        235.852632
9        339.547368
10       144.294737
11       160.768421
12       187.442105
13       131.526316
14       132.989474
15       136.842105
16       105.221053
17        84.463158
18       123.147368
19       216.652632
20        85.757895
21       103.789474
22        81.263158
23       176.642105
24       176.957895
25       233.231579
26       192.263158
27        97.936842
28       165.115789
29       178.673684
30       174.526316
31       226.463158
32        88.484211
33       144.926316
34       160.231579
35       108.463158
36       190.536842
37       111.536842
38       263.126316
39       230.631579
40       196.073684
41       133.736842
42       166.463158
43       114.821053
44       155.873684
45       103.863158
46       196.452632
47       254.610526
48       138.526316
49       131.000000
50        70.421053

In [51]:
media_acerto_questao = media_acerto_questao.join(tempo_questao, on="Questão")

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [52]:
media_acerto_questao

                                                                                 (Correção, Total Acertos)  \
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37                               6
                                                                        46                              19
         Classificação dos seres vivos                      Média       38                               4
                                                                        47                              41
         Origem da vida                                     Média       39                               2
...                                                                                                    ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31                               1
         Propriedades da Matéria                            Fácil       27                              58
                                                                        33                               9
         Separação de misturas homogêneas                   Média       24                              28
                                                                        30                               2

                                                                                 (Correção, Total Respostas)  \
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37                                11
                                                                        46                                89
         Classificação dos seres vivos                      Média       38                                11
                                                                        47                                89
         Origem da vida                                     Média       39                                11
...                                                                                                      ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31                                11
         Propriedades da Matéria                            Fácil       27                                89
                                                                        33                                11
         Separação de misturas homogêneas                   Média       24                                89
                                                                        30                                11

                                                                                 (Correção, Média)  \
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37                0.545455
                                                                        46                0.213483
         Classificação dos seres vivos                      Média       38                0.363636
                                                                        47                0.460674
         Origem da vida                                     Média       39                0.181818
...                                                                                            ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31                0.090909
         Propriedades da Matéria                            Fácil       27                0.651685
                                                                        33                0.818182
         Separação de misturas homogêneas                   Média       24                0.314607
                                                                        30                0.181818

                                                                                      Tempo
Matéria  Assunto                                            Dificuldade Questão
Biologia Citologia, Tipos Celulares e Teoria da Endossim... Difícil     37       111.536842
                                                                        46       196.452632
         Classificação dos seres vivos                      Média       38       263.126316
                                                                        47       254.610526
         Origem da vida                                     Média       39       230.631579
...                                                                                     ...
Química  Número de avogadro, mol, massa molar e atômica     Média       31       226.463158
         Propriedades da Matéria                            Fácil       27        97.936842
                                                                        33       144.926316
         Separação de misturas homogêneas                   Média       24       176.957895
                                                                        30       174.526316

[75 rows x 4 columns]

In [53]:
media_acerto_questao['Acertos'] = media_acerto_questao['Correção','Total Acertos'].astype(str)
media_acerto_questao['Respostas'] = media_acerto_questao['Correção','Total Respostas'].astype(str)
media_acerto_questao ["Total Acertos"] = media_acerto_questao[['Acertos', 'Respostas']].agg('/'.join, axis=1)
media_acerto_questao["Média"] = media_acerto_questao['Correção', 'Média']
media_acerto_questao.to_pickle('dados-relatorio-docentes/media_acerto_questao.pkl')

In [54]:
# media geral do einstein por dificuldade das questoes
media_por_dificuldade = data.groupby(['Matéria','Dificuldade']).agg(['sum','count','mean'])
media_por_dificuldade = media_por_dificuldade.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Respostas"})

# salvando como pickle para o relatorio
media_por_dificuldade.to_pickle('dados-relatorio-docentes/media_por_dificuldade.pkl')

media_por_dificuldade

                                      Correção
                                 Total Acertos Total Respostas     Média
Matéria              Dificuldade
Biologia             Difícil                25             100  0.250000
                     Fácil                 111             200  0.555000
                     Média                  83             200  0.415000
Filosofia/Sociologia Fácil                  84              99  0.848485
                     Média                  88             100  0.880000
Física               difícil                14             100  0.140000
                     fácil                  88             200  0.440000
                     média                 102             300  0.340000
Geografia            Fácil                  50             100  0.500000
                     Média                 120             300  0.400000
História             Fácil                  90             100  0.900000
                     Média                 233             400  0.582500
Matemática           difícil                35             199  0.175879
                     díficil                35              99  0.353535
                     fácil                 300             500  0.600000
                     média                 201             498  0.403614
Português            Difícil                73             100  0.730000
                     Díficil               105             200  0.525000
                     Fácil                  54             100  0.540000
                     fácil                 149             200  0.745000
                     média                 204             400  0.510000
Química              Fácil                 179             300  0.596667
                     Média                  53             200  0.265000

In [55]:
media_por_dificuldade['Acertos'] = media_por_dificuldade['Correção','Total Acertos'].astype(str)
media_por_dificuldade['Respostas'] = media_por_dificuldade['Correção','Total Respostas'].astype(str)
media_por_dificuldade ["Total Acertos"] = media_por_dificuldade[['Acertos', 'Respostas']].agg('/'.join, axis=1)
media_por_dificuldade["Média"] = media_por_dificuldade['Correção', 'Média']

# media_por_assunto.to_pickle('dados-relatorio-docentes/media_por_dificuldade.pkl')

In [56]:
# media de acerto por assunto
media_por_assunto = data.groupby(['Matéria','Assunto']).agg(['sum','count','mean'])
media_por_assunto  = media_por_assunto.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Respostas"})

# salvando como pickle para o relatorio
media_por_assunto.to_pickle('dados-relatorio-docentes/media_por_assunto.pkl')

media_por_assunto

                                                                             Correção  \
                                                                        Total Acertos
Matéria              Assunto
Biologia             Citologia, Tipos Celulares e Teoria da Endossim...            25
                     Classificação dos seres vivos                                 45
                     Origem da vida                                                38
                     Seres Vivos e Níveis de Organização                           59
                     Água                                                          52
Filosofia/Sociologia Relação indivíduo e sociedade                                 84
                     Surgimento da filosofia                                       88
Física               Conversão de unidades                                         70
                     Conversão de unidades/Prefixos                                31
                     Conversão de unidades/notação científica                      38
                     Prefixos/notação científica                                   51
                     Vetores                                                       14
Geografia            Cartografia                                                   54
                     Conceitos de demografia                                       39
                     Conceitos de geografia política                               50
                     Localização e orientação                                      27
História             Fontes históricas                                             74
                     Fontes históricas e relativismo cultural                      41
                     Patrimônio cultural                                          169
                     Tempo Histórico                                               39
Matemática           Mínimo múltiplo comum                                         71
                     Operações básicas                                            121
                     Pitágoras e proporção                                         40
                     Potência                                                      69
                     Potência e radiciação                                         14
                     Radiciação                                                    21
                     Regra de Três Composta                                        18
                     Sistemas 2x2                                                  64
                     Triângulos e Regra de Três Simples                            35
                     equações                                                      19
                     expressões numéricas                                          70
                     frações/dízimas                                               29
Português            Interpretação de texto                                        72
                     Semântica (homônimos e parônimos) e ortografia                81
                     Tonicidade                                                    42
                     classes de palavras                                          190
                     funções do texto                                              25
                     gêneros textuais                                              58
                     interpretação de texto, preconceito linguístico...            40
                     tipos de texto (verbal, não verbal, misto)                    77
Química              Conceito de Substância, Alotropia e Transformaç...            38
                     Cálculo de massa molar                                        74
                     Número de avogadro, mol, massa molar e atômica                23
                     Propriedades da Matéria                                       67
                     Separação de misturas homogêneas                              30

                                                                                         \
                                                                        Total Respostas
Matéria              Assunto
Biologia             Citologia, Tipos Celulares e Teoria da Endossim...             100
                     Classificação dos seres vivos                                  100
                     Origem da vida                                                 100
                     Seres Vivos e Níveis de Organização                            100
                     Água                                                           100
Filosofia/Sociologia Relação indivíduo e sociedade                                   99
                     Surgimento da filosofia                                        100
Física               Conversão de unidades                                          200
                     Conversão de unidades/Prefixos                                 100
                     Conversão de unidades/notação científica                       100
                     Prefixos/notação científica                                    100
                     Vetores                                                        100
Geografia            Cartografia                                                    100
                     Conceitos de demografia                                        100
                     Conceitos de geografia política                                100
                     Localização e orientação                                       100
História             Fontes históricas                                              100
                     Fontes históricas e relativismo cultural                       100
                     Patrimônio cultural                                            200
                     Tempo Histórico                                                100
Matemática           Mínimo múltiplo comum                                          100
                     Operações básicas                                              200
                     Pitágoras e proporção                                          100
                     Potência                                                       100
                     Potência e radiciação                                           99
                     Radiciação                                                     100
                     Regra de Três Composta                                         100
                     Sistemas 2x2                                                   100
                     Triângulos e Regra de Três Simples                              99
                     equações                                                        99
                     expressões numéricas                                           100
                     frações/dízimas                                                 99
Português            Interpretação de texto                                         100
                     Semântica (homônimos e parônimos) e ortografia                 100
                     Tonicidade                                                     100
                     classes de palavras                                            300
                     funções do texto                                               100
                     gêneros textuais                                               100
                     interpretação de texto, preconceito linguístico...             100
                     tipos de texto (verbal, não verbal, misto)                     100
Química              Conceito de Substância, Alotropia e Transformaç...             100
                     Cálculo de massa molar                                         100
                     Número de avogadro, mol, massa molar e atômica                 100
                     Propriedades da Matéria                                        100
                     Separação de misturas homogêneas                               100


                                                                            Média
Matéria              Assunto
Biologia             Citologia, Tipos Celulares e Teoria da Endossim...  0.250000
                     Classificação dos seres vivos                       0.450000
                     Origem da vida                                      0.380000
                     Seres Vivos e Níveis de Organização                 0.590000
                     Água                                                0.520000
Filosofia/Sociologia Relação indivíduo e sociedade                       0.848485
                     Surgimento da filosofia                             0.880000
Física               Conversão de unidades                               0.350000
                     Conversão de unidades/Prefixos                      0.310000
                     Conversão de unidades/notação científica            0.380000
                     Prefixos/notação científica                         0.510000
                     Vetores                                             0.140000
Geografia            Cartografia                                         0.540000
                     Conceitos de demografia                             0.390000
                     Conceitos de geografia política                     0.500000
                     Localização e orientação                            0.270000
História             Fontes históricas                                   0.740000
                     Fontes históricas e relativismo cultural            0.410000
                     Patrimônio cultural                                 0.845000
                     Tempo Histórico                                     0.390000
Matemática           Mínimo múltiplo comum                               0.710000
                     Operações básicas                                   0.605000
                     Pitágoras e proporção                               0.400000
                     Potência                                            0.690000
                     Potência e radiciação                               0.141414
                     Radiciação                                          0.210000
                     Regra de Três Composta                              0.180000
                     Sistemas 2x2                                        0.640000
                     Triângulos e Regra de Três Simples                  0.353535
                     equações                                            0.191919
                     expressões numéricas                                0.700000
                     frações/dízimas                                     0.292929
Português            Interpretação de texto                              0.720000
                     Semântica (homônimos e parônimos) e ortografia      0.810000
                     Tonicidade                                          0.420000
                     classes de palavras                                 0.633333
                     funções do texto                                    0.250000
                     gêneros textuais                                    0.580000
                     interpretação de texto, preconceito linguístico...  0.400000
                     tipos de texto (verbal, não verbal, misto)          0.770000
Química              Conceito de Substância, Alotropia e Transformaç...  0.380000
                     Cálculo de massa molar                              0.740000
                     Número de avogadro, mol, massa molar e atômica      0.230000
                     Propriedades da Matéria                             0.670000
                     Separação de misturas homogêneas                    0.300000

In [57]:
media_por_assunto['Acertos'] = media_por_assunto['Correção','Total Acertos'].astype(str)
media_por_assunto['Respostas'] = media_por_assunto['Correção','Total Respostas'].astype(str)
media_por_assunto ["Total Acertos"] = media_por_assunto[['Acertos', 'Respostas']].agg('/'.join, axis=1)
media_por_assunto["Média"] = media_por_assunto['Correção', 'Média']

# Extras

In [58]:
# a ideia eh manipular o df de tempo para ficar uma coluna vertical com o nome dos alunos
#e a primeira linha fica o nº das questões
tempo

                         Nome  Questão  Tempo
0    Ágata Pereira de Andrade        1  208.0
1    Ágata Pereira de Andrade        2   85.0
2    Ágata Pereira de Andrade        3  117.0
3    Ágata Pereira de Andrade        4  681.0
4    Ágata Pereira de Andrade        5  577.0
..                        ...      ...    ...
801           Vitória Michels       46   32.0
802           Vitória Michels       47  157.0
803           Vitória Michels       48   79.0
804           Vitória Michels       49   73.0
805           Vitória Michels       50   39.0

[5200 rows x 3 columns]

## Questões 51 -> 54

In [59]:
# pegando somente as respostas que contem numeros
# alguns alunos colocaram comentarios
filtro = comentarios.apply(lambda x: pd.to_numeric(x, errors = 'coerce')).dropna()

filtro = filtro.groupby("Questão").mean()
filtro.to_pickle("Feedbacks/notas.pkl")

In [60]:
# pegando os comentarios
coments = comentarios[pd.to_numeric(comentarios['Resposta'], errors='coerce').isna()]
coments

     Questão                                           Resposta
19        54  <p><span style="font-size: 12pt;"><span class=...
23        54  <p><span style="font-size: 12pt;"><span class=...
24        51                          5 (se pudesse daria mais)
27        54  <ol><li data-list="ordered"><span class="ql-ui...
31        54  <p>Tem alguns profs que não são tão didáticos ...
..       ...                                                ...
338       53  não estive ainda nas monitorias por falta de o...
339       54       <p>Tudo muito perfeito. Sem comentario ♡</p>
343       54             <p>Não tenho sugestoes no momento.</p>
347       54     <p><span style="font-size: 12pt;">﻿</span></p>
351       54  <p><span style="font-size: 12pt;">tenho gostad...

[98 rows x 2 columns]

In [61]:
coments['Resposta'] = coments['Resposta'].str.replace(r'<p>' , '')
coments['Resposta'] = coments['Resposta'].str.replace(r'<span style="font-size: 12pt;">' , '')
coments['Resposta'] = coments['Resposta'].str.replace(r'<ol><li data-list="ordered">' , '')

coments['Resposta'] = coments['Resposta'].str.replace(r'<span class="ql-cursor">﻿</span>' , '')
coments['Resposta'] = coments['Resposta'].str.replace(r'</span></p>' , '')
coments['Resposta'] = coments['Resposta'].str.replace(r'<span class="ql-ui" contenteditable="false">' , '')

coments.to_pickle("Feedbacks/comentarios.pkl")

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys